:root {
    --span-background-color: #3468B8;
    --link-color: white;
}

.namebox {
    background-color: rgb(56, 106, 186);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: ghostwhite !important;
    font-size: 35px;
    padding: 20px;
    margin: 0px, auto, 0px, auto;
    width: 50%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    border: 3px solid black;
    /* transition: all .5s; */
    /* animation: pulse ; */
}

/* .namebox:hover{
    transform: skewY(5deg) skewX(15deg) scale(1.1);
} */

/* @keyframes pulse {
    0% {
      background-color: #001F3F;
    }
    100% {
      background-color: #FF4136;
    } 
  } */

#name {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .5s;
    animation: nameColor 1.5s ease-in-out ;
    display: inline-block;
    color: white;
}

#name:hover {
    text-decoration: none;
    background-image: linear-gradient(to right, black, white, black);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: skewY(-5deg) skewX(15deg) scale(1.2);
    /*x, y, blur, color(color, opacity)*/
    text-shadow: 5px 10px 5px rgba(black);
}

@keyframes nameColor{
    10% {
        background-image: linear-gradient(to right, black, white);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    

    40% {
        
        color: black;
    }
    70% {
        background-image: linear-gradient(to right, white, black);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;   
        
    }
    100% {
        color : white
      
    }
}


.navbar {
    padding-bottom: 0px;
    padding-top: 0px;
}

@media only screen and (max-width: 756px) {
    .namebox {
        width: 100%;
        margin: 0px;
        justify-content: center;
    }
    .myNav {
        padding: 0px;
    }
    .topPortion {
        height: 193px;
    }
    .spanForLink {
        border: 1px solid black;
        height: auto;
        padding: 1px;
        margin: 0px 1px 0px 1px;
    }
    .linkS {
        display: grid;
        height: 20%;
        font-size: 15px;
        justify-content: center;
        box-sizing: border-box;
        display: none;
    }
    .navLink {
        font-size: 15px !important;
        width: 100%;
    }
}

.navLink {
    border: 1px solid black;
    height: auto;
    padding: 15px;
    background-color: var(--span-background-color);
    opacity: .8;
    border-radius: 25%;
    padding: 10px;
    font-size: 30px;
    color: var(--link-color);
    font-family: 'Roboto Slab', serif;
    padding: 0px 9px 0px 9px;
    display: inline-block;
    transition: all .4s;
}

.navLink:hover {
    background-color: var(--link-color);
    opacity: 1;
    color: black;
    transition: background-color 500ms;
    text-decoration: none;
    /* transform: translateY(-3px); */
    /* animation: pop .5s ease-out; */
    transform: translateY(-10px);
    box-shadow: 0 15px 10px rgba(0, 0, 0, .4);
}

.navLink:active {
    transform: translateY(-1px);
}

.navbar {
    padding-bottom: 0px;
    padding-top: 0px;
}

.topPortion {
    background-image: url("../../../TechnologyPhotos/header.jpg");
    border-bottom: 5px solid black;
    background-size: cover;
}

.techTopPortion {
    background-image: url("../../../TechnologyPhotos/header2.jpg");
    border-bottom: 5px solid black;
    min-height: 250px;
    background-size: cover;
}

.linkS {
    text-align: center;
    height: auto;
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

@media(min-width: 756px) {
    .hamburger {
        display: none;
    }
}

.hamburger {
    color: black;
    background-color: #d4d4d4;
    width: 15%;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 20%;
}

.active {
    color: black;
    background-color: white;
}

/* 
dont think keyframe translate works with bootstrap */

@keyframes pop {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-4px);
    }
}

/* @keyframes moveInLeft {
  
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50%{
        opacity: .5;
    }

    80% {
        opacity: .9;
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
} */

/* .test{
    animation: moveInLeft 2s ease-out;
} */