#hoverEffectBig :hover {
    border: solid;
    border-color: var(--link-hover-color);
    border-width: 5px;
    transition: background-color 500ms;
}

#projectPic{
    transition: all 1s;
    border-radius: 20px;
    background-size: cover;
    /* max-height: 500px; */
    transform: scale(.8);
    object-fit: fill;
    
}

#projectPic:hover{
transform: scale(.9);
}
