a {
    color: var(--text-color-primary);
    margin: 5px;
}

a:hover {
    transition: all .5s;
    color: var(--link-hover-color);
}

#homeworkPic:hover{
    transition: all .2s;
    transform: scale(1.1);
}
