.Certs{
    background-color: #8AB9FF;
}

.certificationsWindow{
    width: 80%;
    margin: auto;
    border: 1px solid black;
    height: auto;
    margin-top: 30px;
    background-color: rgb(56, 106, 186) ;
    padding: 20px;
    box-sizing: border-box;
}
.UPennCertification{
    margin: auto;
    text-align: center;
}

.MongoDBCertificate{
    margin: 20px auto;
    text-align: center;
    border-top: 2px solid black;
    padding: 20px 0px;
}

.MongoDBCertificate img{
    max-width: 637px;
}

@media screen and (max-width: 992px) {
    .MongoDBCertificate img{
        max-width: 500px;
    }
    .UPennCertification img{
        max-width: 500px;
    }
  }

  @media screen and (max-width: 780px) {
    .MongoDBCertificate img{
        max-width: 450px;
    }
    .UPennCertification img{
        max-width: 450px;
    }
  }

  @media screen and (max-width: 610px) {
    .MongoDBCertificate img{
        max-width: 300px;
    }
    .UPennCertification img{
        max-width: 300px;
    }
  }

  @media screen and (max-width: 500px) {
    .MongoDBCertificate img{
        max-width: 250px;
    }
    .UPennCertification img{
        max-width: 250px;
    }
  }