.techRow {
    background-color: rgb(56, 106, 186) !important;
    color: ghostwhite;
    border: double;
    border-color: black;
    border-width: 8px;
    margin-top: 10px;
}

.techImages {
    height: 125px;
    width: 125px;
    padding: 5px;
    transition: transform 2s;
   
}

.techImages--spinR{
    animation: dropInR 1.5s ease-out ;
    
}
.techImages--spinL{
    animation: dropInL 1.5s ease-out ;
    
}
/* .techImages:hover{
    transform: scale(1.2);
} */

/* .techImages:active{
    transform: translateY(5px);
} */
@keyframes dropInR{
    0%{
        opacity: 0;
        transform: translateY(-100px) rotate(-180deg);
        
    }

    80%{
        opacity: .9;
        transform: translateY(10px) ;
    }

    100%{
        opacity: 1;
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes dropInL{
    0%{
        opacity: 0;
        transform: translateY(-100px) rotate(180deg);
        
    }

    80%{
        opacity: .9;
        transform: translateY(10px) ;
    }

    100%{
        opacity: 1;
        transform: translateY(0px) rotate(0deg);
    }
}