.techRow {
    background-color: rgb(56, 106, 186) !important;
    color: ghostwhite;
    border: double;
    border-color: black;
    border-width: 8px;
    margin-top: 10px;
}

.techImages {
    height: 125px;
    width: 125px;
    padding: 5px;

    animation: dropIn 1.5s ease-out ;
}

@keyframes dropIn{
    0%{
        opacity: 0;
        transform: translateY(-100px) rotate(-180deg);
        
    }

    80%{
        opacity: .9;
        transform: translateY(10px) ;
    }

    100%{
        opacity: 1;
        transform: translateY(0px) rotate(0deg);
    }
}