#aboutMeDiv {
    background-color: var(--color-secondary);
    color: var(--text-color-primary);
    border: 8px double black;   
    margin-top: 75px;
    /* clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);
    box-shadow: 0 20px 20px black !important */
}

.aboutMe {
    text-align: justify;
    font-size: 20px;
    font-family: 'Alegreya', serif;
    animation: moveInLeft 1.5s  ease-out;
    
}

.picture {
    height: 250px;
    width: auto;
    border: 25px double white;
    padding: 0px;
    margin-right: 25px;
    animation: moveInLeft 1.5s  ease-out;
}


@media only screen and (max-width: 756px) {
    .picture {
        width: 100%;
        height: auto;
    }
}


#email {
    font-family: 'Alegreya', serif;
    font-weight: 600;
    animation: moveInRight 1.5s  ease-out;
}


@keyframes moveInLeft {
    /* what is happening at the start  */
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50%{
        opacity: .5;
    }
    /* could also have 30, 54, 76, any intermediate step we want */
    80% {
        opacity: .9;
        transform: translateX(10px);
    }
    /* what is happening at the finish  */
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* transform: translateX(100px) roatate(180deg); */
@keyframes moveInRight {
    /* what is happening at the start  */
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    50%{
        opacity: .5;
    }
    /* could also have 30, 54, 76, any intermediate step we want */
    80% {
        opacity: .9;
        transform: translateX(-10px);
    }
    /* what is happening at the finish  */
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}